<h2> Add Event</h2>

<div class="form">

  <div>
    <label for="title"> title </label>
    <input id="title" type="text" [(ngModel)]="event.title" name="title">
  </div>

  <div>
    <label for="time"> time </label>
    <input id="time" type="text" [(ngModel)]="event.time" name="time">
  </div>

  <div class="col">
    <a>type </a>
    <select [(ngModel)]="event.type">
      <option>Routine</option>
      <option>Repas</option>
      <option>Travail</option>
      <option>Loisir</option>
    </select>
  </div>


  <div>
    <button type="button" (click)="addEvent()"> Ajouter </button>
  </div>

</div>
