<h2> Add Event</h2>

<div class="form">

  <div>
    <label for="id"> id </label>
    <input id="id" type="text" [(ngModel)]="event.id" name="title">
  </div>

  <div>
    <label for="title"> title </label>
    <input id="title" type="text" [(ngModel)]="event.title" name="title">
  </div>

  <div>
    <label for="time"> time </label>
    <input id="time" type="text" [(ngModel)]="event.time" name="time">
  </div>

  <div>
    <label for="type"> type </label>
    <input id="type" type="text" [(ngModel)]="event.type" name="type">
  </div>

  <div>
    <button type="button" (click)="addEvent()"> Ajouter </button>
  </div>

</div>
